
/** CW Form **/

.cw-form-maxwidth {
	max-width:800px;
}

.cw-form {
    width:100%;
    color: #444;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    box-sizing: content-box;
    margin: auto auto;
	margin-top:16px;
	margin-bottom:16px;
	/** float: left; **/
}

.cw-form form {
    width: 100%;
	border: 0px solid #e5e5e5;
	border-radius: 0px;
	overflow:hidden;
}

.cw-form form fieldset {
	width: 100%;
	padding:6px 0 6px 0;
	margin:0;
	background:#EDEDEF;
    background: rgb(237, 237, 239); /* fallback color */
    background: rgba(237, 237, 239, 0.9);
	border-style:none;
}

.cw-form .cw-header {
    width:100%;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 2px 2px 0 0;
	background:#F3F3F5;
    background: rgb(243, 243, 245); /* fallback color */
    background: rgba(243, 243, 245, 0.9);
	overflow:hidden;
	margin-bottom:0px;
}

.cw-form .cw-header span {
    color: #333;
    font-size: 15px;
	font-weight: bold;
	float:left;
	padding: 14px 0 14px 0;
	margin: 0px 0px 0px 14px;
}

.cw-form .cw-footer {
    width:100%;
	min-height:60px;
	border-top: 1px solid #e5e5e5;
	border-radius: 0 0 2px 2px;
	background:#F3F3F5;
    background: rgb(243, 243, 245); /* fallback color */
    background: rgba(243, 243, 245, 0.9);
	overflow:hidden;
	margin-top:0px;
}

.cw-form #thequestion {
	float:left;
	margin-left:4px;
	color:#333;
	font-size:13px;
	font-weight: normal;
	line-height:1.2em;
}

.cw-form .textlabel {
	color:#333;
	font-size:13px;
	font-weight: normal;
	line-height:1.2em;
    padding: 0px;
	margin: 10px 2px 2px 18px;
	float:left;
	width:100%;
	text-align:left;
}

.cw-form label {
	color:#333;
	font-size:13px;
	font-weight: normal;
	line-height:1.2em;
    padding: 0px;
	margin: 10px 0px 4px 2px;
	float:left;
	width:100%;
	text-align:left;
}

.cw-form legend {
	color: #0193b1;
	font-weight: bold;
}

.cw-form hr {
	margin-top:16px;
    border: 0; height: 0; border-top: 1px solid rgba(239, 248, 252, 0.2); border-bottom: 1px solid rgba(239, 248, 252, 0.2);
}

.cw-form .textlabel-forms {
	color:#333;
	font-size:13px;
	font-weight: bold;
	line-height:1.2em;
    padding: 0px;
	margin: 6px 2px 2px 18px;
	float:left;
	width:100%;
	text-align:left;
}

.cw-form .textlabel-forms-normal {
	color:#333;
	font-size:13px;
	font-weight: normal;
	line-height:1.2em;
    padding: 0px;
	margin: 6px 2px 2px 18px;
	float:left;
	width:100%;
	text-align:left;
}

.cw-form input[type=text], .cw-form input[type=email], .cw-form input[type=password], .cw-form textarea {
	color:#333;
    border: 1px solid #ddd;
	border-radius: 2px;
	background:#F8F8F8;
    background: rgb(248, 248, 248); /* fallback color */
    background: rgba(248, 248, 248, 0.9);
    margin: 4px 0px 4px 0px;
	padding: 5px 0px 5px 0px;
	font-size:13px;
	width:100%;
	float:left;
	box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    text-transform: none;
}
.cw-form input[type=text]:focus, .cw-form input[type=email]:focus, .cw-form input[type=password]:focus, .cw-form textarea:focus {
    border: 1px solid #cdcdcd;
}

.cw-form select {
	color:#333;
    border: 1px solid #ddd;
	border-radius: 2px;
	background:#F8F8F8;
    background: rgb(248, 248, 248); /* fallback color */
    background: rgba(248, 248, 248, 0.9);
    margin: 4px 0px 4px 0px;
	padding: 4.3px 0px 4.3px 0px;
	font-size:13px;
	width:100%;
	float:left;
	box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   text-transform: none;
}
.cw-form select:focus {
    border: 1px solid #cdcdcd;
}

.cw-form .custom-file-upload input[type="file"]{
    z-index: 999;
    line-height: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0px;
	padding: 0px;
	font-size: 12px;
	width:110px;
	text-transform: none;

}

.cw-form .filebtn{
    background: #aeaeb7;
    border-radius: 2px;
    border-style: none;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0px 6px 0px;
	padding: 2px 0px 2px 0px;
    text-decoration: none;
	text-align:center;
	width:64px;
	float:left;
}

.cw-form .filebtn:hover{
    background:#9999A4;
}

.cw-form .custom-text-input{
    float:left;
	width:190px;
}
/*
.cw-form .custom-file-upload {
   height: 0;
   width: 0;
   float:left;
}

.cw-form .custom-file-upload-label {
    background: #aeaeb7;
    border-radius: 2px;
    border-style: none;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
    text-decoration: none;
	text-align:center;
	width:120px;
	margin-right:6px;
	float:left;
}

.cw-form .custom-file-upload-label:hover{
    background:#9999A4;
}

#fileuploadvalue {
    color: #333;
    font-weight: normal;
	font-size: 11px;
	margin-top:14px;
	padding-left:6px;
	padding-bottom:6px;
	float:left;
}
*/
.cw-form input[type=checkbox],.cw-form input[type=radio]{
	opacity:0;
	position:absolute;
	z-index:12;
	width:18px;
	height:18px;
}
.cw-form input[type=checkbox]:checked,.cw-form input[type=radio]:checked, .cw-form input[type=checkbox]:focus,.cw-form input[type=radio]:focus{
	outline:none;
}
.cw-form input[type=checkbox]+.lbl, .cw-form input[type=radio]+.lbl{
	position:relative;
	z-index:11;
	display:inline-block;
	margin:0;
	line-height:20px;
	min-height:14px;
	min-width:14px;
	font-weight:normal;
}
.cw-form input[type=checkbox]+.lbl.padding-8::before, .cw-form input[type=radio]+.lbl.padding-8::before{
	margin-right:8px;
}

.cw-form input[type=checkbox]+.lbl::before, .cw-form input[type=radio]+.lbl::before{
	font-family: 'Glyphicons Halflings';
	font-weight:normal;
	font-size:11px;
	color:#5BB8DF;
	content:"";
	background:#FAFAFA;
	border:1px solid #5BB8DF;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius:0;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	min-height:14px;
	line-height:14px;
	min-width:14px;
	margin-right:1px; 
	margin-top: -5px;
}

.cw-form input[type=checkbox]:checked+.lbl::before, .cw-form input[type=radio]:checked+.lbl::before{
	display:inline-block;
	content:'\e013';
	background:#F5F8FC;
	border-color:#adb8c0;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 15px 10px 12px rgba(0, 0, 0, 0.05),inset 15px 10px 12px rgba(255, 255, 255, 0.1);
}

.cw-form input[type=checkbox]:hover+.lbl::before, .cw-form input[type=radio]:hover+.lbl::before, .cw-form input[type=checkbox]+.lbl:hover::before, .cw-form input[type=radio]+.lbl:hover::before{
	border-color:#248DBB;
}
.cw-form input[type=checkbox]:active+.lbl::before, .cw-form input[type=radio]:active+.lbl::before, .cw-form input[type=checkbox]:checked:active+.lbl::before, .cw-form input[type=radio]:checked:active+.lbl::before{
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.cw-form input[type=checkbox]:disabled+.lbl::before, .cw-form input[type=radio]:disabled+.lbl::before, .cw-form input[type=checkbox][disabled]+.lbl::before, .cw-form input[type=radio][disabled]+.lbl::before, .cw-form input[type=checkbox].disabled+.lbl::before, .cw-form input[type=radio].disabled+.lbl::before{
	background:#DDD;
	border-color:#5BB8DF;
	box-shadow:none;
	color:#BBB;
}
.cw-form input[type=radio]+.lbl::before{
	border-radius:32px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:32px;
}
.cw-form input[type=radio]:checked+.lbl::before{
	content:"\2022";
}

.cw-form a {
    color: #007acc;
    text-decoration: none;
	box-shadow: 0 0 0 0;
}
.cw-form a:hover {
	color:#333;
	text-decoration: none;
	box-shadow: 0 0 0 0;
}

.cw-form .margin-top-6 {
	margin-top: 6px;
}

.cw-form font-12 {
    color: #333;
    font-size: 12px;
	font-weight:normal;
	float:left;
}

.cw-form .itemdetails {
	color:#333;
	font-size:15px;
	font-weight: bold;
	line-height:1.2em;
	padding-top:6px;
	padding-bottom:8px;
	margin: 6px 2px 2px 18px;
	float:left;
	width:100%;
	text-align:left;
	word-wrap:break-word;
	
}


.cw-form .footer-extra-data {
	background: #FFF;
	padding:10px 20px 10px 20px;
	border-radius: 2px;
	overflow:auto;
	font-size:11px;
}

.cw-form p {
    color: #333;
    font-size: 15px;
	font-weight:normal;
	float:left;
}

.cw-form h2 {
    color: #333;
    font-size: 28px;
	font-weight:normal;
	float:left;
}

.cw-form .margin-top-15 {
    margin-top: 15px;
}
.cw-form .margin-top-bottom-15 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.cw-form .buttons{
	float:right;
	padding: 5px 8px 5px 8px;
	background: #0085ba;
    color:#f5f5f5;
	background-size: auto;
	border: 1px solid transparent;
	text-decoration: none;
	border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.12857;
    cursor:pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: none;
    text-shadow: none;
	text-transform: capitalize;
}
.cw-form .submitbutton{
	background: #0085ba;
    color:#f5f5f5;
}

.cw-form .submitbutton:hover, .cw-form .submitbutton:focus{
    background:#D7D7D7;
}

/* blue button is the default don't delete */
.cw-form .submitbutton:hover, .cw-form .submitbutton:focus{
    background: #337ab7;
}

.cw-form .grey-button:hover{
    background:#CDCDCD;
}


.cw-form .refreshbutton{
    padding:3px 12px;
    background:#AEAEB7;
    color:#f5f5f5;
	border-style: none;
	text-decoration: none;
	border-radius: 2px;
    font-size:12px;
    font-weight:bold;
    cursor:pointer;
}
.cw-form .refreshbutton:hover{
    background:#9999A4;
}

.cw-form .reqmark{
	color: #E97272;
	font-weight:normal;
	font-size:14px;
}

.error-message {
    padding:16px;
	border: 1px solid #e5e5e5;
	background:#fff;
    background: rgb(255, 255, 255); /*  fallback color */
    background: rgba(255, 255, 255, 0.9);
    color:#e97272;
	border-radius: 2px;
    font-size:13px;
    font-weight:normal;
    margin:8px 0 8px 0;
	text-align:left;
}


.success-message {
    padding:16px;
	border: 1px solid #e5e5e5;
	background:#fff;
    background: rgb(255, 255, 255); /*  fallback color */
    background: rgba(255, 255, 255, 0.9);
    color: #4D954F;
	border-radius: 2px;
    font-size:13px;
    font-weight:normal;
    margin:8px 0 8px 0;
	text-align:left;
}

.tip-message {
    padding:16px;
	border: 1px solid #e5e5e5;
	background:#fff;
    background: rgb(255, 255, 255); /*  fallback color */
    background: rgba(255, 255, 255, 0.9);
    color: #31708f;
	border-radius: 2px;
    font-size:13px;
    font-weight:normal;
    margin:8px 0 8px 0;
	text-align:left;
}

/* Forms Messages Style */
.cw-form-msgs .form-messages {
    padding:10px;
	max-width:100%;
	border: 1px solid #e5e5e5;
	background:#fff;
    background: rgb(255, 255, 255); /*  fallback color */
    background: rgba(255, 255, 255, 0.9);
    color:#e97272;
	border-radius: 2px;
    font-size:13px;
    font-weight:normal;
    margin:8px 0 8px 0;
	text-align:left;
	display:block;
}

.cw-form-msgs .alert-danger {
    background-image: linear-gradient(to bottom, #f2dede 0px, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    background: #f2dede;
    color: #a94442;
}

.cw-form-msgs .alert-success {
    background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    background: #dff0d8;
    color: #3c763d;
}

.cw-form-msgs .alert-info {
    background-image: linear-gradient(to bottom, #d9edf7 0px, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    background: #d9edf7;
    color: #31708f;
}

.cw-form .preloader {
	min-height:22px;
	display:none;
	color:#ff9800;
	font-size: 12px;
	margin-top:22px;
	text-align:left;
}

.cw-form .preloader .loader {
	width:220px;
	height: 19px;
}

/** jQuery validation error **/

.cw-form .checkboxerror label {
	display:none; 
	margin-left:2px;
}

.cw-form .radioerror label  {
    display:none; 
	margin-left:18px;
}

.cw-form label.error {
	font-size:11px;
	font-weight:normal;
	color:#E97272;
}

/* grid system */
.cw-form .r-row {
	width: 100%;
}
.cw-form .r-row:after {
	content: '';
	display: table;
	clear: both;
}
.cw-form .c-col {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
}
.cw-form .c-col-no-padding {
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
}
.cw-form .c-col-1 {
	width: 8.33%;
}
.cw-form .c-col-2 {
	width: 16.66%;
}
.cw-form .c-col-3 {
	width: 25%;
}
.cw-form .c-col-4 {
	width: 33.33%;
}
.cw-form .c-col-5 {
	width: 41.66%;
}
.cw-form .c-col-6 {
	width: 50%;
}
.cw-form .c-col-7 {
	width: 58.33%;
}
.cw-form .c-col-8 {
	width: 66.67%;
}
.cw-form .c-col-9 {
	width: 75%;
}
.cw-form .c-col-10 {
	width: 83.33%;
}
.cw-form .c-col-11 {
	width: 91.66%;
}

.cw-form .c-col-12 {
	width: 100%;
}

/** glyphicon **/
/* enable absolute positioning */
.cw-form .inner-addon { 
  position: relative; 
}

/* style icon */
.cw-form .inner-addon .glyphicon {
  position: absolute;
  padding: 42px 8px;
  cursor: default;
  color:#DADADE;
}

/* align icon */
.cw-form .left-addon .glyphicon  { 
  left:  0px;
}
.cw-form .right-addon .glyphicon { 
  right: 0px;
}

/* add padding  */
.cw-form .left-addon input[type=text], .cw-form .left-addon input[type=email], .cw-form .left-addon input[type=password], .cw-form .left-addon textarea  { padding-left:  30px; }
.cw-form .left-addon input[type=text], .cw-form .left-addon input[type=email], .cw-form .left-addon input[type=password], .cw-form .left-addon textarea { padding-right:  12px; }

.cw-form .no-icon input[type=text], .cw-form .no-icon input[type=email], .cw-form .no-icon input[type=password], .cw-form .no-icon textarea  { padding-left:  12px; }
.cw-form .no-icon input[type=text], .cw-form .no-icon input[type=email], .cw-form .no-icon input[type=password], .cw-form .no-icon textarea { padding-right:  12px; }


@media (max-width: 640px) {

.cw-form .c-col {
	width: 100%;
}

.cw-form .c-col {
    padding-left: 4px;
    padding-right: 4px;
}

.cw-form form {
    width: 100%;
}

.cw-form form fieldset {
	width: 100%;
	margin:0;
    padding:6px 0 6px 0;
}

.cw-form .refreshbutton{
	float:left;
	margin: 8px 0 4px 0;
}

.cw-form .cw-header span {
    font-size: 15px;
}

.cw-form .textlabel {
    margin: 10px 2px 2px 6px;
}

.cw-form .itemdetails {
	margin: 6px 2px 2px 6px;
}

.cw-form .textlabel-forms {
	margin: 6px 2px 2px 6px;
}


}

